<!DOCTYPE html>
<html>
{% load static %}

<head>

	<meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
	
	<title>GregHepburn</title>
	<link rel="stylesheet" href="{% static 'frontend\css\bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'frontend\css\style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Arimo|Indie+Flower|Oswald&display=swap" rel="stylesheet">
</head>

<body>

	<div id="react-layout">
			<!-- REACT HERE -->
	</div>

<script src="{% static 'frontend/js/main.js' %}"></script>
<script src="{% static 'frontend/js/jquery.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>